@using Arc.Application.Employees.Queries
@using Newtonsoft.Json

@model IEnumerable<EmployeeVM>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First</th>
            <th scope="col">Middle</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(a => a.ID))
        {
        <tr>
            <th scope="row">@item.ID</th>
            <td>@item.FirstName</td>
            <td>@item.MiddleName</td>
            <td>@item.LastName</td>
            <td>@item.EmailAddress</td>
            <td>@item.Gender</td>
        </tr>
        }
    </tbody>
</table>